
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
	<main>
		<div class="card-login">
			<h1>FBR rénovation immobilière</h1>
			<form method="post">
				{% if error %}
					<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.email }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="row">
					<label for="email">Email</label>
					<input id="email" type="email" value="{{ last_username }}" name="email" autocomplete="email" required autofocus/>
				</div>
				<div class="row">
					<label for="password">Password</label>
					<input id="password" type="password" name="password" autocomplete="current-password" required/>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button type="submit">Se connecter</button>
			</form>
		</div>
	</main>
{% endblock %}
